.strength-Weak {
  background-color: #f25f5c;
}
.strength-Fair {
  background-color: #ffe066;
}
.strength-Good {
  background-color: #247ba0;
}
.strength-Strong {
  background-color: #70c1b3;
}
