@import 'react-redux-toastr/src/styles/index.scss';

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style : normal;
         src : url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
         src : url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
               url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
               url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
               url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
               url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

body {
    padding: 0px;
    background-color: #eee;
}
.header {
    padding-top:18px;
}

$side: 60px;
$l: 30px;
$num: 10;
$dur: 10s;
$lclr: #ff9944;
$dclr: crimson;

@mixin plane($w, $h) {
  width: $w;
  height: $h;
  transform-style: preserve-3d;
}

@mixin view($p) {
  height: 60px;
  left: 10px;
  perspective: $p;
}

@mixin center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}      

.view {
  @include view(400);
}

.plane {
  @include plane($side, $side);

  
  &.main {
    @include center;
    transform: rotateX(60deg) rotateZ(-30deg);
    animation: rotate 20s infinite linear;
      
    .circle {
      width: $side;
      height: $side;
      position: absolute;
      transform-style: preserve-3d;
      border-radius: 100%;
      //border: 2px solid white
      box-sizing: border-box;
      box-shadow: 0 0 20px rgba($lclr, 1), inset 0 0 20px rgba($lclr, 1);
  
      &::before, &::after {
        content: '';
        display: block;
        @include center;
        width: 10%;
        height: 10%;
        border-radius: 100%;
        background: rgba($dclr, 1);
        //border: 4px solid black
        box-sizing: border-box;
        box-shadow: 0 0 20px 2px rgba($dclr, 1);
      }
      &::before {
        transform: translateZ(-$l);
      }
      &::after {
        transform: translateZ($l);
      }
  
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          transform: rotateZ($i / 5 * 360deg) rotateX(63.435deg);
        }
    }
    }
  }
}
@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    // transform: rotateX(0) rotateY(0) rotateZ(0);
  }
}



.btn-rounded{
    -webkit-border-radius:10em;
    border-radius:10em
}

.white-skin .page-footer {
    background-color: #6f7178;
}

.fixed-sn .double-nav, .fixed-sn footer, .fixed-sn main {
    padding-left: 15rem;
}

.fixed-sn main, .hidden-sn main {
    padding-top: 4.5rem;
}

.card {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
	border: 0
}

.card[class*=border] {
	border: 1px solid #9e9e9e;
	-webkit-box-shadow: none;
	box-shadow: none
}

.card .card-body .card-title a,
.card .card-body .card-title a:hover {
	-webkit-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out
}

.card .card-body .card-text {
	color: #747373;
	font-size: .9rem;
	font-weight: 400
}

.cascading-admin-card {
	margin-top: 20px
}

.cascading-admin-card .admin-up {
	margin-left: 4%;
	margin-right: 4%;
	margin-top: -20px
}

.cascading-admin-card .admin-up .fab,
.cascading-admin-card .admin-up .far,
.cascading-admin-card .admin-up .fas {
	padding: 1.7rem;
	font-size: 2rem;
	color: #fff;
	text-align: left;
	margin-right: 1rem;
	-webkit-border-radius: 3px;
	border-radius: 3px
}

.cascading-admin-card .admin-up .data {
	float: right;
	margin-top: 2rem;
	text-align: right
}

.cascading-admin-card .admin-up .data p {
	color: #999;
	font-size: 12px
}

.classic-admin-card .card-body {
	color: #fff;
	margin-bottom: 0;
	padding: .9rem
}

.classic-admin-card .card-body p {
	font-size: 13px;
	opacity: .7;
	margin-bottom: 0
}

.classic-admin-card .card-body h4 {
	margin-top: 10px
}

.classic-admin-card .card-body .float-right .fab,
.classic-admin-card .card-body .float-right .far,
.classic-admin-card .card-body .float-right .fas {
	font-size: 3rem;
	opacity: .5
}

.classic-admin-card .progress {
	margin: 0;
	opacity: .7
}

.progress, .progress .progress-bar {
    height: 6px;
}

.fixed-sn .double-nav,
.fixed-sn footer,
.fixed-sn main {
	padding-left: 15rem
}

@media (max-width:1440px) {
	.fixed-sn .double-nav,
	.fixed-sn footer,
	.fixed-sn main {
		padding-left: 0
	}
}

@media (min-width:600px) {
	.fixed-sn .page-footer .container-fluid,
	.fixed-sn main {
		margin-left: 2%;
		margin-right: 2%
	}
}

@media (min-width:992px) {
	.fixed-sn .page-footer .container-fluid,
	.fixed-sn main {
		margin-left: 5%;
		margin-right: 5%
	}
}

@media (min-width:1200px) {
	.fixed-sn .page-footer .container-fluid,
	.fixed-sn main {
		margin-left: 6%;
		margin-right: 6%
	}
}

.show {
    transform: translateX(0%) !important;
}